<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Add user</title>
</head>
<body>
<form id="add-user" th:method="post" th:action="@{/registration}" th:object="${user} ">
    <div class="container">
        <form class="form-signin" method="post" action="/login">
            <h2 class="form-signin-heading">Please sign up</h2>
            <p>
                <label for="username" class="sr-only">Username</label>
                <input type="text" id="username" name="username" th:value="*{username}" placeholder="Username" required
                       autofocus>
            </p>
            <p>
                <label for="password" class="sr-only">Password</label>
                <input type="password" id="password" name="password" th:value="*{password}" placeholder="Password"
                       required>
            </p>

            <p>
                <label for="email" class="sr-only">E-mail</label>
                <input type="text" id="email" name="email" th:value="*{email}" placeholder="E-mail"
                       required>
            </p>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
        </form>
    </div>
</form>

</body>
</html>