<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Edit meeting</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        label {
            display: inline-block;
            width: 200px;
        }

        input:read-only {
            background: lightgray;
        }

        .row {
            margin-top: 10px;
        }
    </style>
</head>
<body>

<!-- Person edition -->
<form id="update-form" action="save.html" th:method="post" th:action="@{/meeting/save}" th:object="${meeting} ">
    <h3>Meeting Info:</h3>

    <div class="row" th:if="${meeting.id != null}">
        <label for="id-input">ID:</label>
        <input id="id-input" type="text" name="id" readonly="readonly" value="1" th:value="*{id}"/>
    </div>

    <div class="row">
        <label for="title-input">Title: </label>
        <input id="title-input" name="title" type="text" value="Football game" th:value="*{title}"/>
    </div>

    <div class="row"> <!--    todo увеличить окно description-->
        <label for="description-input">Description: </label>
        <input id="description-input" name="description" type="text" value="Let's play together!" th:value="*{description}"/>
    </div>

    <div class="row">
        <label for="date-input">Date: </label>
        <input id="date-input" name="date" type="date" value="25-05-2022" th:value="*{date}"/>
    </div>

    <div class="row">
        <label for="time-input">Time: </label>
        <input id="time-input" name="time" type="time" value="20:00" th:value="*{time}"/>
    </div>

    <div class="row">
        <label for="capacity-input">Capacity: </label>
        <input id="capacity-input" name="capacity" type="number" value="20" th:value="*{capacity}"/>
    </div>

    <div class="row">
        <button type="submit">Save</button>
        <a th:href="@{/start}"><button type="button">Cancel</button></a>
    </div>
</form>

</body>
</html>
